@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


html {
  height: 100%;
}

body {
  font-family: "Open Sans";
  background-color: #187bcd;
  color: #fff;
  margin: 0;
  height: 100%;
}

h2 {
  font-size: 2rem;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.Title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

.NickInput {
  width: 100%;
  margin: 0.1rem;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 0.5rem;
  font-family: Mali;
  font-size: 1.5rem;
  outline: 0;
}

.NickInput::placeholder {
  color: #ddd;
}

.NickLogin {
  display: flex;
  align-items: center;
  margin: 0.3rem 0 0 0;
  font-size: 1.5rem;
}

.SubmitNick {
  flex: 1;
  width: 100%;
  margin: 0.1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  font-family: Mali;
  font-size: 1.5rem;
  background-color: #fff;
  color: #187bcd;
  padding: 0.25rem 0.6rem;
  max-width: fit-content;
  max-height: fit-content;
}

.SubmitNick:hover {
  background-color: #187bcd;
  border: 1px solid #fff;
  color: #fff;
}

.ProfilePopUp form div {
  display: flex;
}

.flex {
  display: flex;
}

.c {
  justify-content: center;
}

.sa {
  justify-content: space-around;
}

.tc {
  text-align: center;
}

.ai {
  align-items: center;
}

.column {
  flex-direction: column;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.Cell {
  border: 1.5px solid #fff;
  width: 3vw;
  height: 3vw;
  padding: 0;
  outline: 0;
  font-family: inherit;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hit {
  color: #ffffff;
}

.Grid {
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
}

.ship {
  background-color: #092C49;
}

.Miss {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Circle {
  color: #fff;
  background-color: #fff;
  border-radius: 100%;
  width: 50%;
  height: 50%;
}

.Outcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
}

.Matchmaking {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  font-size: 1.5rem;
}

.Matchmaking h1 {
  margin: 0;
}

.PageBreak {
  border-top: 5px solid #fff;
  width: 90%;
  border-radius: 10rem;
}

.yesno {
  display: flex;
  justify-content: center;
}

.DEAD {
  background-color: #ff3434;
  color: white;
}

.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LoginPage div h1 {
  font-size: 4rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.LoginPage div h2 {
  margin: 0.5rem 0;
}

.LoginPage div div {
  margin: 3rem;
}

.Error {
  color: red;
}

.Matchmakingbuttons {
  display: flex;
  flex-direction: column;
}

.button {
  flex: 1;
  width: 100%;
  margin: 0.1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  font-family: Mali;
  font-size: 1.3rem;
  background-color: #fff;
  color: #187bcd;
  padding: 0.25rem 0.6rem;
  max-width: fit-content;
  max-height: fit-content;
}

.button:hover {
  background-color: #187bcd;
  border: 1px solid #fff;
  color: #fff;
}